<h1>DenDen Book</h1>
<p>Your alternate facebook messanger teehee</p>

<% if current_user %>
<%= link_to "Start Chatting", rooms_path %>
<%= button_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Login", new_user_session_path %>
<%= link_to "Sign Up", new_user_registration_path %>

<% end %>